body {
  text-align: center;
}
.big-card {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  margin-top: 60px;
  padding-top: 20px;
}

.top {
  margin-top: 20px;
}

.row {
  margin-bottom: 20px;
}

.middle {
  margin-bottom: 30px;
}

.main-measurements {
  margin-top: 25px;
}
.weekly {
  margin-left: 60px;
}
.fa-sun {
  color: #f5fcc1;
  font-size: 120px;
}

.daily-sun {
  color: #f5fcc1;
  font-size: 40px;
}

.fa-cloud {
  color: #c2f0fc;
  font-size: 40px;
}

.fa-cloud-rain {
  color: #c2f0fc;
  font-size: 40px;
}

#search-city {
  margin: 0 0 0 15px;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  font-size: 1rem;
  height: 40px;
  line-height: 1.5;
}

.col-4 {
  text-align: center;
}

.col-4 .main-emoji {
  text-align: center;
}

.col-3 .main-measurements {
  text-align: center;
}

#icon {
  height: 150px;
  width: 150px;
  text-align: center;
}

#city {
  padding-top: 25px;
}