body {
  text-align: center;
}
.big-card {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  margin-top: 60px;
  padding-top: 20px;
  height: 120px;
}

.top {
  margin-top: 20px;
}

.row {
  margin-bottom: 20px;
}

.middle {
  margin-bottom: 30px;
}

#search-city {
  margin: 0 0 0 15px;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  font-size: 1rem;
  height: 40px;
  width: 300px;
  line-height: 1.5;
}

#btnSearch {
  width: 100px;
}

#btnLocation {
  width: 170px;
}

.col-4 {
  text-align: center;
}

.col-4 .main-emoji {
  text-align: center;
}

.stats {
  margin: 25px 0 0 35px;
}

.degrees {
  margin-left: 15px;
}

#icon {
  height: 150px;
  width: 150px;
  text-align: center;
}

#city {
  padding-top: 25px;
}

h5 {
  text-align: center;
}

.forecast {
  margin-left: 20px;
}

img {
  height: 65px;
  width: 65px;
  text-align: center;
  margin-left: 16px;
}

.forecast-temps{
  text-align: center;
}